body{
	font-family: 'Roboto', sans-serif;
	
}

img{
	max-width: 100%;
	height: auto;
}

*{
	box-sizing: border-box; /*so if our width +margin +border=padding
	 goes beyong 100% 
	browser takes care of it */
}

